/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: #2b2a31;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', sans-serif;
  color: #2b2a31;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p,
a {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
nav {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}
nav .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  align-items: center;
  white-space: nowrap;
}
nav .logo-wrap .logo {
  max-width: 100px;
  margin-left: 30px;
}
nav .logo-wrap h3 {
  font-family: "Poppins";
  font-size: 2.5rem;
}
nav ul {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  align-content: center;
}
nav ul li a {
  color: #2b2a31;
  text-decoration: none;
  margin-left: 15px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
}
nav ul li a:hover {
  color: #8e8b9c;
}
@media (max-width: 800px) {
  nav {
    width: 100%;
    justify-content: space-around;
  }
  nav ul {
    width: 100%;
    justify-content: space-around;
  }
}
header {
  text-align: center;
  margin: 110px 0 15px;
}
header h2 {
  background-color: black;
  color: white;
  padding: 25px 0;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.4;
  font-size: 1.8rem;
}
header .bg-wrap {
  height: 500px;
  width: 100%;
  background-color: black;
  background-image: url("../images/sleep-img-header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
header .bg-wrap .header-content {
  text-align: start;
  width: 80%;
  margin: 0 auto;
  color: white;
}
header .bg-wrap .header-content h1 {
  font-size: 5rem;
  color: white;
}
header .bg-wrap .header-content p {
  margin: 20px 0;
}
header .bg-wrap .header-content a {
  cursor: pointer;
  width: 200px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: black;
  background-color: white;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-decoration: none;
  border: 1px solid white;
}
header .bg-wrap .header-content a:hover {
  color: white;
  background-color: black;
}
footer {
  background-color: black;
  padding: 15px 0;
}
footer .sm-icons {
  text-align: center;
}
footer .sm-icons .fa {
  font-size: 40px;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
footer .sm-icons .fa:hover {
  opacity: 0.7;
}
footer .sm-icons .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .sm-icons .fa-twitter {
  background: #55ACEE;
  color: white;
}
footer .sm-icons .fa-linkedin {
  background: #007bb5;
  color: white;
}
footer .sm-icons .fa-github {
  background: #110f0f;
  color: white;
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  align-items: center;
}
footer .copyright .logo {
  width: 100px;
}
footer .copyright p {
  color: white;
}
.home {
  margin: 20px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.home .content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.home .content-card .card-image,
.home .content-card .text-content {
  width: 50%;
}
.home .content-card .text-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.home .content-card .text-content .text-wrap p {
  margin: 20px auto;
}
.home .content-card .text-content .text-wrap a {
  cursor: pointer;
  width: 200px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: white;
  background-color: black;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 auto;
}
.home .content-card .text-content .text-wrap a:hover {
  color: black;
  background-color: white;
}
.home .content-card.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.home .content-card.reverse input[type='email'] {
  height: 57px;
  border: 1px solid black;
  width: 200px;
  padding-left: 15px;
  font-family: "Poppins";
}
.home .content-card.reverse input[type='email']::placeholder {
  font-family: "Poppins";
}
.home .content-card.reverse input[type='submit'] {
  cursor: pointer;
  width: 200px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: white;
  background-color: black;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-decoration: none;
  border: 1px solid black;
  display: inline-flex;
}
.home .content-card.reverse input[type='submit']:hover {
  color: black;
  background-color: white;
}
.why-sleep {
  padding: 20px 10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(../images/atmosphere-parallax-home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-sleep h3 {
  font-size: 2.5rem;
  margin: 20px 0;
}
.why-sleep .health-card {
  margin: 15px 0;
  width: 30%;
}
.why-sleep .health-card h2 {
  font-size: 2rem;
  margin: 10px 0;
}
.media-carousel {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
}
.media-carousel .media-card {
  width: 40%;
  min-width: 300px;
  text-align: center;
  font-size: 1.2rem;
}
.media-carousel .media-card .media-logo {
  max-width: 300px;
  margin: 0 auto;
}
.media-carousel .media-card .blurb {
  font-size: 1.4rem;
}
.media-carousel .media-card .quote {
  margin: 20px;
}
