header{
    text-align: center;
    margin: 110px 0 15px;
    h2{
        background-color: black;
        color: white;
        padding: 25px 0;
        font-family: "Poppins";
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        line-height: 1.4;
        font-size: 1.8rem;
    }
    .bg-wrap{
        .parallax-bg(500px, 100%, url("../images/sleep-img-header.jpg"));
        .flex(column, nowrap, center, center);
        .header-content{
            text-align: start;
            width: 80%;
            margin: 0 auto;
            color: white;
            h1{
                font-size: 5rem;
                color: white;
            }
            p{
                margin: 20px 0;
            }
            a{
                .button(black, white);
            }
        }
    }
    @media @mobile{
        margin-top: 30px;
        h2{
            padding: 25px 10px;
        }
    }
}
