.home{
    width: 100%;
    .flex(column, wrap, center, center);
    .content-card{
        .flex(row, wrap, center, center);
        .card-image, .text-content{
            width: 50%;
        }
        .text-content{
            text-align: center;
            button{
                background-color: black;
                color: white;
                border: none;
                padding: 20px 55px;
                margin: 10px auto;
                a{
                    font-size: 1.1rem;
                    letter-spacing: 0.4rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}