.home{
    margin: 20px auto;
    width: 100%;
    .flex(column, wrap, center, center);
    .content-card{
        .flex(row, wrap, center, center);
        .card-image, .text-content{
            width: 50%;
        }
        .text-content{
            text-align: center;
            .flex(column, wrap, center, center);
            .text-wrap{
                p{
                    margin: 20px auto;
                }
                a{
                    .button(white, black);
                    margin: 0 auto;
                }
            }
        }
    }
    .content-card.reverse{
        .flex(row-reverse, wrap, center, center);
        input{
            &[type = 'email']{
                height: 57px;
                border: 1px solid black;
                width: 200px;
                padding-left: 15px;
                font-family: "Poppins";
                &::placeholder{
                    font-family: "Poppins";
                }
            }
            &[type = 'submit']{
                .button(white, black);
                display: inline-flex;
            }
        }
    }
    @media @tablet-big{
        .content-card{
            input{
                display: block;
                margin: 5px auto;
            }
            .text-content{
                .text-wrap{
                    p{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    @media @tablet{
        .content-card{
            flex-direction: column;
            .card-image, .text-content{
                width: 100%;
            }
            .text-content{
                padding: 20px 0;
            }
        }
    }
}